body{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 12px;
	border-color: white;
	background-color: #eeeeee;
}
.wrapper{
	width: 1200px;
	margin: auto;
}
.banner{
	background: #ffe7d1;
	display: flex;
}
.banner-logo{
	width: 22%;
}
.banner-search{
	width: 33%;
}
.banner-chose{
	width: 20%;
	text-align: center;
}
.banner-login{
	width: 15%;
}
.banner-cart{
	width: 10%;
}
.banner-search > div{
	display: flex;
	width: 300px;
	height: 39px;
	border: 1px solid #b98c65;
	border-radius: 10px;
	margin: auto;
	margin-top: 45px;
}
.banner-search1{
	width: 80%;
}
.banner-search2{
	width: 20%;
	border-left: 1px solid #b98c65;
}
.banner-search input{
	width: 220px;
	margin-top: 10px;
	background: #ffe7d1;
	border: 0px;
	margin-left: 5px;
}
.banner-search a{
	display: block;
	border-radius: 10px;
}
.banner-search img{
	margin-left: 10px;
	margin-top: 2px;
}
.banner-chose a{
	width: 200px;
	line-height: 39px;
	display: inline-block;
	border: 1px solid #b98c65;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	margin-top: 45px;
	color: #464f4e;
}
.banner-chose a:hover{
	background: #b98b69;
	color: white;
}
.banner-login div{
	margin-top: 35px;
	text-align: center;
}
.banner-login div a{
	font-size: 14px;
	text-decoration: none;
	line-height: 25px;
	color: #464f4e;
	font-weight: bold;
}
.banner-login div a:hover{
	text-decoration: underline;
}
.banner-cart div{
	margin-top: 25px;
	text-align: center;
}
.banner-cart div img{
	margin-bottom: -3px;
}
.menu-top{
	width: 1200px;
	height: 38px;
	background: #ffe7d1;
	border-top: 1px solid #b88c67;
	margin: auto;
}
.menu-top > ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.menu-top > ul > li{
	display: inline;
	line-height: 38px;
	margin-right: -2px;
}
.menu-top > ul > li > a{
	color: #b88c67;
	display: inline-block;
	text-decoration: none;
	padding: 0px 16px 0px 16px;
	font-size: 12px;
	font-weight: bold;
}
.menu-top > ul > li > a:hover{
	background: #b88c67;
	color: #ffe7d1;
}
/*sub-menu*/
.menu-top > ul > li > ul{
	padding: 0px; 
	margin: 0px; 
	list-style: none;
	background: #b88c67;
	left: 98px;
	top: 38px;
}
.menu-top > ul > li > ul > li{
	width: 176px;
	height: 34px;
	line-height: 34px;
	border-bottom: 1px solid #dddddd;
}
.menu-top > ul > li > ul > li:first-child{
	border-top: 1px solid white;
}
.menu-top > ul > li > ul > li a{
	text-decoration: none;
	color: white;
	padding-left: 10px;
}
.menu-top > ul > li > ul > li a:hover{
	background: #0a86ad;
	display: block;
	color: white;
}
.menu-top > ul > li > ul{
	display: none;
}
.menu-top > ul > li:hover .sub-menu{
	display: block;
}
.slide-menu{
	position: relative;
	width: 1200px;
	height: 300px;
	margin: auto;
	border-top: 5px solid #b88c67;
}
.slide-menu img{
	width: 1200px;
	height: 300px;
}
.next, .prev{
	width: 70px;
	line-height: 40px;
	cursor: pointer;
	color: white;
	background: rgb(0,0,0,0.6);
	position: absolute; 
	text-align: center;
}
.next{
	right: 0px;
	top: 150px;
}
.prev{
	top: 150px;
}
.content{
	display: flex;
	background: #ffe7d1;
	border-top: 5px solid #b88c67;
}
.left{
	width: 15%;
}
.main{
	width: 75%;
}
.right{
	width: 15%;
}
.left1, .left2, .right1, .right2{
	width: 95%;
	border: 1px solid #b88c67;
	margin-top: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.left1 img{
	width: 40px;
	height: 40px;
	border: 1px solid white;
	margin-top: 4px;
}
.left1-body-1{
	display: flex;
}
.left1-body-1 > div:first-child{
	width: 35%;
	text-align: center;
}
.left1-body-1 > div:last-child{
	width: 65%;
	text-align: justify;
	padding-right: 5px;
}
.left1-body-1 a{
	font-size: 13px;
	display: block;
	margin-top: 5px;
	text-decoration: none;
}
.left1-body-1 a:hover{
	text-decoration: underline;
}
.left1-body > div:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.left2{
	text-align: center;
}
.left2 img{
	width: 150px;
	height: 150px;
	margin-top: 5px;
}
.list-title-header{
	text-align: center;
	line-height: 25px;
	font-weight: bold;
	color: #ffe7d1;
	background: #b88c67;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.main-spkm{
	width: 98%;
	margin: auto;
	margin-top: 5px;
	border: 1px solid #b88c67;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.main-spmoi{
	width: 98%;
	margin: auto;
	margin-top: 20px;
	border: 1px solid #b88c67;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.main-spkm img{
	width: 150px;
	height: 150px;
}
.main-spmoi img{
	width: 150px;
	height: 150px;
}
.main-content{
	display: flex;
	margin-bottom: 10px;
}
.main-content > div{
	width: 20%;
	margin-top: 10px;
	text-align: center;
}
.main-content ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
	margin-top: 2px;
}
.main-content ul li{
	width: 72px;
	height: 27px;
	border: 1px solid #b88c67;
	margin-bottom: 3px;
}
.main-content ul li a{
	display: block;
	text-decoration: none;
	color: #4a4b43;
	padding-top: 3px;
	padding-bottom: 3px;
}
.main-content ul li a:hover{
	background: #4a4b43;
	color: white;
}
.main-ul{
	width: 60px;
	margin: auto;
}
.main-p{
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
}
.content-end{
	border-top: 1px solid #b98c65;
}
.content-end > div:first-child{
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}
.content-end > div:first-child > div{
	width: 30px;
	height: 30px;
	border: 1px solid #464f4e;
	margin-right: 10px;
}
.content-end > div:first-child > div:first-child{
	margin-left: 500px;
}
.content-end > div:first-child > div a{
	display: block;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	color: #464f4e;
}
.content-end > div:first-child > div a:hover{
	background: #b88c67;
	color: white;
}
.main > div:last-child{
	margin-bottom: 50px;
}
.right1-2-1{
	display: flex;
	margin-top: 5px;
	margin-bottom: 5px;
}
.right1-2-1 > div:first-child{
	width: 20%;
	text-align: center;
}
.right1-2-1 > div:last-child{
	width: 80%;
}
.right1-2-1 a{
	font-size: 15px;
	display: inline-block;
	text-decoration: none;
	color: #7d1900;
	margin-top: 4px;
	margin-left: 5px;
}
.right1-2-1 a:hover{
	text-decoration: underline;
}

.right2-sub form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
}

.right2-sub .container {
  padding: 20px;
  background-color: #f1f1f1;
}

.right2-sub input[type=text], input[type=button] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.right2-sub input[type=checkbox] {
  margin-top: 16px;
}

.right2-sub input[type=button] {
  background-color: #4CAF50;
  color: white;
  border: none;
}

.right2-sub input[type=button]:hover {
  opacity: 0.8;
}

footer{
	width: 1200px;
	height: 310px;
	background: #b88c67;
	margin: auto;
}
.f1{
	display: flex;
	color: white;
	width: 800px;
	margin: auto;
}
.f1 a{
	text-decoration: none;
	color: white;
}
.f1 a:hover{
	text-decoration: underline;
}
.f1 > div{
	margin-right: 70px;
}
.f1 > div:first-child{
	margin-left: 15px;
}
.f1 ul{
	margin: 0px;
	padding: 0px;
	list-style: square;
	margin-left: 15px;
}
.f1 ul li{
	line-height: 20px;
}
.f1 > div > div:first-child{
	margin-top: 15px;
	margin-bottom: 30px;
}
.f2{
	width: 800px;
	margin: auto;
}
.f2 > div:first-child{
	margin-top: 35px;
	margin-left: 15px;
	font-weight: bold;
	color: #e2d1ce;
	border-bottom: 1px solid #b74c2e;
	line-height: 30px;
}
.f2-2{
	margin-top: 10px;
	display: flex;
}
.f2-2 div{
	margin-right: 30px;
	padding-bottom: 10px;
}
.f2-2 ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	margin-left: 15px;
}
.f2-2 ul li{
	color: #e2d1ce;
	line-height: 18px;
}
.f2-2 > div:last-child{
	border-left: 1px dotted #ca9b8e;
}