.main_form{
	margin-left: 247px;
	width: 100%;
}

.row{
	width: 400px;
	margin: auto;
	margin-top: 20px;
}
.row input[name="name"]{
	width: 340px;
	height: 46px;
	margin-top: 15px;
}
.row input[name="email"]{
	width: 340px;
	height: 46px;
	margin-top: 15px;
}
.row input[name="phone"]{
	width: 340px;
	height: 46px;
	margin-top: 15px;
}
.row textarea{
	width: 340px;
	height: 46px;
	margin-top: 20px;
}
.row input[name="buttom"]{
	width: 340px;
	height: 46px;
	background-color: #4285f4;
	margin-top: 30px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 15px;
}
.row input[name="buttom"]:hover{
	background-color: #5f97f4;
}