/*danh muc*/
.contentdm{
	width: 1200px;
	background: #ffe7d1;
	margin: auto;
	display: flex;
}
.leftdm{
	width: 20%
}
.maindm{
	width: 80%
}
.left1dm{
	width: 95%;
	border: 1px solid #b88c67;
	margin-top: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.list-title-header{
	text-align: center;
	line-height: 25px;
	font-weight: bold;
	color: #ffe7d1;
	background: #b88c67;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.left1-2dm ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.left1-2dm ul li{
	line-height: 21px;
	margin-top: 2px;
}
.left1-2dm ul li a{
	display: block;
	text-decoration: none;
	color: #7d1900;
	font-weight: bold;
	padding-left: 35px;
	padding-top: 5px;
}
.left1-2dm ul li:last-child{
	margin-bottom: 10px;
}
.left1-2dm ul li a:hover{
	background: #b88c67;
	color: #ffe7d1;
}
.main-namdm{
	width: 98%;
	margin: auto;
	margin-top: 5px;
	border: 1px solid #b88c67;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.main-nudm{
	width: 98%;
	margin: auto;
	margin-top: 20px;
	border: 1px solid #b88c67;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.main-namdm img{
	width: 150px;
	height: 150px;
}
.main-nudm img{
	width: 150px;
	height: 150px;
}
.main-contentdm{
	display: flex;
	margin-bottom: 10px;
}
.main-contentdm > div{
	width: 20%;
	margin-top: 10px;
	text-align: center;
}
.main-contentdm ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
	margin-top: 2px;
}
.main-contentdm ul li{
	width: 60px;
	height: 20px;
	border: 1px solid #b88c67;
	margin-bottom: 3px;
}
.main-contentdm ul li a{
	display: block;
	text-decoration: none;
	color: #4a4b43;
	padding-top: 3px;
	padding-bottom: 3px;
}
.main-contentdm ul li a:hover{
	background: #4a4b43;
	color: white;
}
.main-uldm{
	width: 60px;
	margin: auto;
}
.main-pdm{
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
}
.content-enddm{
	border-top: 1px solid #b98c65;
}
.content-enddm > div:first-child{
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}
.content-enddm > div:first-child > div{
	width: 30px;
	height: 30px;
	border: 1px solid #464f4e;
	margin-right: 10px;
}
.content-enddm > div:first-child > div:first-child{
	margin-left: 600px;
}
.content-enddm > div:first-child > div a{
	display: block;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	color: #464f4e;
}
.content-enddm > div:first-child > div a:hover{
	background: #b88c67;
	color: white;
}
.maindm > div:last-child{
	margin-bottom: 50px;
}
/*/danh muc*/
/*danh muc*/

/*/danh muc*/