.haui{
	width: 400px;
	height: 420px;
	margin: auto;
	margin-top: 60px;
	text-align: center;
	background-color: white;
}
.haui div.title{
	width: 100%;
	border-top: 3px solid #4285f4;
	border-radius: 5px 5px 0px 0px;
}
.haui .logo{
	margin-top: 40px;
}
.haui .logo .p1{
	font-size: 18px;
	color: #5a5a5a;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 10px;
}
.haui hr{
	width: 85%;
	margin: auto;
	margin-bottom: 25px;
}
.haui input[name="tkps"]{
	width: 340px;
	height: 46px;
	margin-top: 15px;
}
.haui input[name="buttom"]{
	width: 340px;
	height: 46px;
	background-color: #4285f4;
	margin-top: 30px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 15px;
}
.haui input[name="buttom"]:hover{
	background-color: #5f97f4;
}
.haui .footer{
	margin-top: 10px;
}
.haui .footer span{
	font-size: 13px;
}
.haui .footer span a{
	text-decoration: none;
}